src/__pycache__
.ruff_cache
build
scipe.egg-info
.env
example-data/graph-healthcare.json
example-data/graph-reddit.json
example-data/healthcare-responses.xlsx
example-data/llm-evals-healthcare.xlsx
example-data/llm-evals-reddit.xlsx
example-data/reddit-responses.xlsx
scipe.egg-info/dependency_links.txt
scipe.egg-info/PKG-INFO
scipe.egg-info/requires.txt
scipe.egg-info/SOURCES.txt
scipe.egg-info/top_level.txt
build/lib/src/__init__.py
build/lib/src/algorithm.py
build/lib/src/llm_as_judge.py
build/lib/src/main.py
build/lib/src/middleware.py
build/lib/src/prompt.py
